<!DOCTYPE html>
<html>
  <head>
    <title>Yourlyrics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBuEpdYnNLfnQpOSuqaftIbzx5K-atmDic",
    authDomain: "lyricsdatabase-ebdbc.firebaseapp.com",
    databaseURL: "https://lyricsdatabase-ebdbc.firebaseio.com",
    storageBucket: "lyricsdatabase-ebdbc.appspot.com",
    messagingSenderId: "75666325301"
  };
  firebase.initializeApp(config);
</script>
  </head>

  <body>
  <!--
  	<%= form_tag(songs_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Lyrics" %>
      <%= submit_tag "Search", :name => nil %>
	  <% end %>
  -->
    <%= yield %>
  </body>
</html>
